<div class="container">
    <div class="row">
        <h2>Agregar Educacion</h2>
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Institucion:</label>
                    <input type="text" class="form-control" id="nombreE" [(ngModel)]="nombreE" name="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionE" [(ngModel)]="descripcionE" name="descripcionE" required>
                </div>
                <button class="btn btn-info">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>