<div class="row menu">
  <div class="col">
   <img height="50px" src="../../../assets/images/APLogo.png" alt="" >
  </div>
  <div class="col">  
    Social Media
  </div>
  <div class="col"> 
    <button type="button" class="btn btn-outline-danger" (click)="login()" *ngIf="!isLogged">Ingreso</button>
    <button type="button" class="btn btn-danger" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>

  </div>
</div> 
<div class='row'>
    <div class='col'> 
      <figure class="figure">
        <img src="../../../assets/images/banner.webp" class="figure-img img-fluid" alt="bla bla bla">
      </figure>				
    </div>
  </div>

  