<div class="row">
  <h1>Hard & Soft Skills</h1>
<div class="col-lg-2">
  <button type="button" routerLink="/nuevaskill" class="btn btn-dark" *ngIf="isLogged">Agregar Skill</button>
</div>

  <div *ngFor="let skill of skill">
      <circle-progress
    [title]="(skill.nombre)"
    [titleColor]="'#322332'"
    [percent]="(skill.porcentaje)"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [unitsFontSize]="'10vm'"
    [subtitleFontSize]="'20px'"
    ></circle-progress>
    <button *ngIf="isLogged" class="btn btn-light" routerLink="/editskill/{{skill.id}}">
     <i class="bi bi-pencil-square"></i>Editar
    </button>
    <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(skill.id)">
     <i class="bi bi-file-x"></i>Borrar
    </button>
  </div>
</div>