<div class="container">
  <div class="row">
    <h2>Ingreso:</h2>
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="form-outline mb-4">
        <input type="email" id="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
       <label class="form-label" for="nombreUsuario">Usuario</label>
     </div>
  
      <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
        <label class="form-label" for="password">Contraseña</label>
      </div>
      <button type="button" type="submit" class="btn btn-primary btn-block mb-4">Ingresar</button>
    </form>
  </div>
</div>